@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Itim&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Caveat&family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    /* tell page to use the entire space */
    width: 100%;
    height: 100vh;
    
    /* activate flex */
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: hsl(217, 54%, 11%);
    /* font-family: 'Outfit', sans-serif; */
    font-family: 'Amiri', serif;
    
}

.container {
    width: 275px;
    height: 495px;
    /* background-color: hsl(216, 50%, 16%); */
    background-color: #1D2F63;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 25px 50px 0 rgba(0,0,0.418);
}

/* .container:hover {
    cursor: pointer;
    background-color: beige;
} */

.header {
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: .5px solid hsl(215,32%,27%);
    /* color: #707070; */
    color: #FC60A8;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.header img {
    width: 30px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

span {
    color: white;
    font-size: 18px;
    /* change style of text to italic */
    font-style: italic;
    /* add shadow to text */ 
    text-shadow: 1px 2px 5px #adadad;
}

.NFT_container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#NFT {
    /* border: 1px solid yellow; */
    /* width: 100%;
    height: 100%; */
    width: 270px;
    height: 250px;
    border-radius: 5px;
}

.content {
    /* border: 1px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px; */

    /* homework below */
    display: flex;
    gap: 20px;
}

h4 {
    color: white;
}

.about {
    /* border: 1px solid orange; */
    color: white;
}

.about p {
    font-size: 12px;
    color: #6E8197;
    margin-top: 5px;
}

.info {
    /* border: 3px solid green; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

    /* homework below */
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    gap: 5px;
}

.info p {
    /* border: 1px solid blue; */
    
    color: goldenrod;
    font-size: 14px;
}

.topBid {
    text-align: center;
    margin-left: 15px;
}

.stat {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px; */

    /* homework below */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95px;
}

.footer {
    border-top: .5px solid hsl(215,32%,27%);
    margin-top: 20px;
    padding-top: 10px;
    text-align: right;
    color: #FF376E;
}

/*

-Add the finishing styling to the footer
- Make the NFT card your own
DONE Change the background color
Change the NFT image 
DONE Change the creator to you
Change the font
*/